.my-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 80px;
    margin: 80px 170px;
}
.my-work_title{
   position: relative;
}
.my-work_title h1{
    font-size: 3.5rem;
    font-weight: 600;
    padding: 0 30px;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.mywork-container img:hover{
    transform: scale(1.05);
}
.mywork-showmore{
    display: flex;
    padding: 20px 30px;
    font-size: 22px;
    border: 1px solid #27C529;
    font-weight: 500;
    margin-bottom: 80px;
    border-radius: 30px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    background-color: #27C529;
    color: white;
}
@media (max-width: 768px) {
    .my-work{
        margin: 20px 70px;
        gap: 40px;
    }
    .my-work_title h1{
        font-size: 2.5rem;
        padding: 0;
    }
    .my-work_title img{
        width: 130px;
        margin-right: -20px;
    }
    .mywork-showmore{
        font-size: 18px;
        padding: 10px 20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .mywork-container img{
        height: 100%;
        width: 100%;
    }
    .mywork-showmore{
        margin: 50px auto;
        padding: 20px 40px;
        font-size: 20px;
        cursor: pointer;
    }
}
