.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    /* background-color: #f0f0f0; */
    margin: 80px 170px;
}
.about-title{
    position: relative;
}
.about-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 600px;
    /* height: 100vh; */
    margin-top: 50px;
}
.about-left img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-title h1{
    font-size: 3.5rem;
    font-weight: 700;
    padding: 0px 20px;
}
.about-section{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 50px;
}.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: 400;

}
.about-skillss{
    display: flex;
    flex-direction: column; 
    gap: 20px;
    
   
    /* font-size: 1.2rem;
    font-weight: 600; */
}
.about-skill{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 50px;
    
}
.about-skill p{
    font-size: 1.2rem;
    font-weight: 600;
    min-width: 150px;

}
.about-skill p:hover{
    color: #27C529;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}
.about-skill hr{
    width: 50%;
    height: 8px;
    background-color: #27C529;
    border: none;
    margin: 10px 0;
    outline: none;
    border-radius: 50px;
}
.about-acheivments{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 80px;

}
.about-acheivment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-acheivment h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #27C529;
 
}
.about-acheivment p{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
}
.about-acheivment:hover{
    transform: scale(1.13);
    transition: 0.5s;
}

@media(max-width: 768px){
 .about{
    margin: 50px 70px;
    gap: 80px;
    align-items: start;
 }
 .about-title h1{
    font-size: 2.5rem;
    
    padding: 0;
 }
 .about-section{
    flex-direction: column;
 }
 .about-left{
    width: 100%;
    height: 400px;
    /* display: none; */
 }
 .about-para{
    font-size: 1rem;
    font-weight: 400;
 }
 .about-skill{
    gap: 20px;
    align-items: center;
 }
    .about-skill p{
        font-size: 1rem;
        min-width: 100px;
    }
    .about-skill hr{
        /* width: 100%; */
        height: 5px;
    }
    .about-acheivments{
       justify-content: space-between;
    }
    .about-acheivment {
            gap: 5px;
        }
    .about-acheivment h1{
        font-size: 2rem;
        font-weight: 600;
    }   
    .about-acheivment p{
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    } 
}