.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;

}
.navbar img{
    width: 130px;
    height: 130px;
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;


}
.nav-menu li{
    cursor: pointer;
    color: #000;
    transition: color 0.3s ease;
}
.nav-menu li:hover{
    color: #27C529;
}
.nav-connect{
    background-color: #27C529;
    padding: 10px 10px;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}
.nav-connect:hover{
    background-color: transparent;
    color: #27C529;
    border: 1px solid #27C529;
}
.anchor-link{
    text-decoration: none;
    color: inherit;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-menu {
        /* display: none; */
        position: fixed;
    }
 .nav-mob-open{
    display: block;
    position: fixed;
    right: 30px;
 }
 .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
 }
 .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #27C529;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
    right: -350px;

 }
 .nav-menu li{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
 }

    /* .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 20px;
        display: ${props => props.open ? 'flex' : 'none'};
    }
    .nav-menu li {
        margin-bottom: 10px;
    }
    .nav-connect {
        width: 100%;
        text-align: center;
    } */
}