.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column; 
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top-left img{
    width: 130px;
    height: 130px;
}
.footer-top-left p{
    font-size: 20px;
    font-weight: 600;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer-email-input{
    display: flex;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: #cfcaca;
    gap: 30px;
    padding-right: 80px;

}
.footer-email-input input{
  
    border: none;
    outline: none;
    font-size: 20px;
    color: #000;
    background-color: transparent;
}
.footer-email-input:hover{
    border: 2px solid #27C529;
}

.footer-email-input input::placeholder{
    color: #5e5b5b;
}
.footer-top-right .footer-btn{
    padding: 15px 50px;
    border-radius: 50px;
    background-color: #27C529;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.footer-top-right .footer-btn:hover{
    background-color: #1f9b1f;
    transition: all 0.3s ease-in-out;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    margin-bottom: 50px;
    gap: 50px;
}

@media (max-width: 768px) {
    .footer{
        margin: 20px 70px;
    }
    .footer-top{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer-top-left img{
        width: 100px;
        height: 100px;
    }
    .footer-top-left p{
        font-size: 18px;
        text-align: center;
    }
    .footer-top-right{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}


